{% extends "layouts\base.html" %}
{% block content %}
  <h1>Username: {{ cook.username }}</h1>
  <p><strong>First name:</strong> {{ cook.first_name }}</p>
  <p><strong>Last name:</strong> {{ cook.last_name }}</p>
  <p><strong>Position: </strong>{{ cook.get_position_display }}</p>
  <p><strong>Year_of_experience: </strong>{{ cook.year_of_experience }}</p>
  <p><strong>Author of the dishes: </strong></p>
  {% for dish in cook.dishes.all %}
    <hr>
    <p class="text-muted">{{ dish.id }}</p>
    <p> {{ dish.name }} - {{ dish.dish_type }}</p>
  {% empty %}
    <p>No dish!</p>
  {% endfor %}
{% endblock %}
