{% load static %}

<footer class="footer pt-5 mt-5">
  <hr class="horizontal dark mb-5">
  <div class="container">
    <div class=" row">
      <div class="col-md-3 mb-4 ms-auto">
        <div>
          <h6 class="text-gradient text-primary text-sm">Our social networks:</h6>
        </div>
        <div>
          <br>
              <a class="nav-link pe-1" href="https://github.com/creativetimofficial" target="_blank">
                <i class="fab fa-github text-lg opacity-8"></i>
              </a>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>
          <h6 class="text-gradient text-primary text-sm">Hours</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
                <br>
              </a>
            </li>

            <li class="nav-item">
                Tuesday – Sunday<br>12 - 9 pm
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="https://www.creative-tim.com/templates/premium?AFFILIATE=128200" target="_blank">
               <br>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="https://www.creative-tim.com/blog?AFFILIATE=128200" target="_blank">
                <br>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>
          <h6 class="text-gradient text-primary text-sm">Palo Alto</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link" href="https://iradesign.io/" target="_blank">
                <br>
              </a>
            </li>

            <li class="nav-item">
              <a target="_blank">
                530 Bryant St, <br>Palo Alto, CA
              </a>
            </li>

            <li class="nav-item">
              <a target="_blank">
                <br>
              </a>
            </li>
             <li class="nav-item">
              <a target="_blank">
                (095) 600-0433
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>
          <h6 class="text-gradient text-primary text-sm">Los Altos</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link" href="https://www.creative-tim.com/contact-us?AFFILIATE=128200" target="_blank">
                <br>
              </a>
            </li>

            <li class="nav-item">
              <a target="_blank">
               325 Main St,<br>Los Altos, CA
              </a>
            </li>

            <li class="nav-item">
              <a target="_blank">
                <br>
              </a>
            </li>
            <li class="nav-item">
              <a target="_blank">
                (650) 699-0334
              </a>
            </li>

          </ul>
        </div>
      </div>

      <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
        <div>
          <h6 class="text-gradient text-primary text-sm">More contacts</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link" href="https://www.creative-tim.com/terms?AFFILIATE=128200" target="_blank">
                <br>
              </a>
            </li>

            <li class="nav-item">
              <a target="_blank">
                eat@kitchenunity.com
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="https://www.creative-tim.com/license?AFFILIATE=128200" target="_blank">
                <br>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12">
        <div class="text-center">
          <p class="my-4 text-sm">
            &copy; <a href="https://www.creative-tim.com?AFFILIATE=128200" target="_blank">Creative Tim</a> - Coded by AppSeed.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
